.root {
  position: relative;
  border-radius: 5px;
  background-color: #f3f9fa;
  border: 2px solid transparent;
  padding: 0 13px;
  display: flex;
  align-items: center;

  &:has(input:focus),
  &.active {
    border: 2px solid #26c2ae;

    & > .label {
      opacity: 0;
    }
  }

  .label {
    font-size: 24px;
    font-weight: 700;
    color: #547878;
    position: absolute;
    opacity: 1;
    transition: all ease-in-out 0.2s;
    background-color: #f3f9fa;
    inset: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  &_input {
    border: 0;
    outline: none;
    direction: rtl;
    font-size: 24px;
    font-weight: 700;
    color: #00474b;
    width: 100%;
    background-color: transparent;
    display: flex;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}
