@use "@styles/globalStyles.scss" as G;

.root {
  border-radius: 25px;
  width: 920px;
  background-color: white;
  box-shadow: 0 32px 43px #4fa6af32;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;

  @include G.breakpoint("md") {
    width: 500px;
    grid-template-columns: 1fr;
  }

  @include G.breakpoint("xm") {
    width: 310px;
    grid-template-columns: 1fr;
  }

  &_none {
    display: none;
  }

  &_control {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &_view {
    border-radius: 15px;
    background-color: #00474b;
    padding: 40px;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 337px;

    @include G.breakpoint("xm") {
      padding: 24px;
      height: 220px;
    }

    &_grid {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &_reset {
    outline: none;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    transition: all ease-in-out 0.3s;

    background-color: #0d686d;

    font-size: 20px;
    font-weight: 700;

    color: #00474b;

    &.active {
      background-color: #26c2ae;

      &:hover {
        background-color: #9fe8df;
      }
    }
  }
}
