.root {
  border-radius: 25px;
  width: 920px;
  background-color: white;
  box-shadow: 0 32px 43px #4fa6af32;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;

  &_control {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &_view {
    border-radius: 15px;
    background-color: #00474b;
    padding: 40px;
    display: grid;
    grid-template-rows: 1fr auto;
  }
}
